<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Im in the app</h3>
            <hr>
            <app-servers></app-servers>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>printing logs</h3>
            <button class="btn btn-primary" (click)="addLogToArray()">Add log timestamp</button>
            <p *ngFor="let currentLog of log; let i = index">{{currentLog}}; at index {{i}}</p> <!--with 'index' we get access of current index in the loop-->
        </div>
    </div>
</div>